*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
     Background-color: rgb(217, 21, 99);
     color:rgb(43, 10, 85); 
     text-align:center;
    line-height: 4;
}

.section{
   padding:40px 20px;
}

.hero h2 {
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid{
   display:grid;
   gap:10px;
}

.grid div {
    background:lab(27.69% 61.28 -78.06); 
    padding: 20px;
    border-radius: 100px;
}

@media (max-width: 768px){
    .heroh1{font: size 40px;}
    body{background-color: lightgreen;}
}

.hero-text{
display:flex;
flex-direction:column-reverse;
align-items:column-reverse;

}
.hero img {
    border: radius 50%;
}