*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
     Background-color: rgba(231, 97, 222, 0.349);
     color:rgba(115, 81, 228, 0.492); 
     text-align:center;
    line-height: 2;
}

.section{
   padding:20px 40px;
}

.hero h2 {
    font-size: 70px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.grid{
   display:grid;
   gap: 130px;px;
}

.grid div {
    background:lab(27.69% 61.28 -78.06); 
    padding: 20px;
    border-radius: 100px;
}

@media (max-width: 768px){
    .heroh1{font: size 40px;}
    body{background-color: rgba(96, 234, 255, 0.451);}
}

.hero-text{
display:flex;
flex-direction:column-reverse;
align-items:column-reverse;

}
.hero img {
    border: radius 50%;
}